---
layout: default
section_id: home
slides:
  - bg: images/carousel/pipework.jpg
    small_title:
      klass: bottom-to-top
      text: Welcome To
    title:
      klass: bottom-to-top
      text: Marcol Fabrications
    buttons:
      klass: bottom-to-top
      items:
        - text: Get in touch
          link_to: /contact.html
  - bg: images/carousel/hood.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: Whatever you need
    title:
      klass: bottom-to-top
      text: Consider it done
    buttons:
      klass: bottom-to-top
      items:
        - text: Get in touch
          link_to: /contact.html
  - bg: images/portfolio/bespoke/slide3.jpg
  - bg: images/portfolio/pipework/slide9.jpg
  - bg: images/portfolio/pipework/slide7.jpg

works:
  - image: images/category_images/scrubbing_and_extraction.jpg
    title: Scrubbing Systems
    link_to: portfolio-scrubbing_extraction.html
    klass: graphi-design
  - image: images/category_images/enclosures.jpg
    title: Enclosures
    link_to: portfolio-enclosures.html
    klass: graphi-design
  - image: images/category_images/tanks.jpg
    title: Tanks &amp; Bunds
    link_to: portfolio-tanks.html
    klass: graphi-design
  - image: images/category_images/ducting_and_pipework.jpg
    title: Ducting &amp; Extraction Systems
    link_to: portfolio-ducting_pipework.html
    klass: graphi-design
  - image: images/category_images/machine_guards.jpg
    title: Machine Guards
    link_to: portfolio-machine_guards.html
    klass: graphi-design
  - image: images/category_images/drip_trays.jpg
    title: Pipework
    link_to: portfolio-pipeworl_driptrays.html
    klass: graphi-design
  - image: images/category_images/bespoke.jpg
    title: Bespoke Fabrication
    link_to: portfolio-bespoke.html
    klass: graphi-design
  - image: images/category_images/wet_benches.jpg
    title: Installation
    link_to: portfolio-installation.html
    klass: graphi-design


services:
  - icon: copy
    title: Materials
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: cogs
    title: Design
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: pagelines
    title: Manufacture
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: truck
    title: Installation
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.

---


<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='3000'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg }});'></div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="What We Do" %}
      <div class="spacing"></div>
      <p>
        Marcol manufacture equipment designed to operate across the complete spectrum of environments; scrubbers for chemical plants or clean room equipment
        in laboratories are examples of the diverse range of applications we offer.
      </p>
      <p>
        Our facilities at Bristol are purpose designed for the manufacture of large-scale equipment and we use the latest developments in welding and fusion technology.
        Our flexibility allows us to undertake short-run batch production for items such as containment trays and machine guarding.
      </p>
      <p>
        All of our staff are fully trained and skilled in the various welding and fusion techniques used in modern plastics bonding and fabrication.
        We have the skills to fabricate complicated shapes such as square to round and complex curves. Our company policy promotes ongoing staff development and training as an essential investment.
      </p>
      <p>
        From our intial contact we are here to help you. We are able to provide advice, and develop your ideas for you, based on our numerous years of experience.
        Whatever your requirements in plastics fabrication we can provide a solution to meet your needs. Our service includes design and advice, detail drawings and specification,
        manufacture and, where appropriate, installation— including “Turnkey Projects”. If required, our engineers will attend site and take measurements, collecting data for analysis and reporting.
      </p>
      <p>
        We offer pre-tender meetings, full HAZOP discussions and are fully conversant with health and safety and other relevant legislation.
      </p>
      <p>
        When you next require a well-specified, quality product delivered and/or installed safely, on time and within budget, please <a href="contact.html">contact us.</a>
      </p>
      <div class="three spacing"></div>
    </div>
  </div>

  <div class="mod modGallery">
    <ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      {% for work in page.works %}
        <li class="{{ work.klass }}">
          <a href='{{ work.link_to }}'>
            <img alt="" src="{{ work.image }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title }}</h3>
                <p style="color: red;">{{ work.desc }}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our services" %}
      <div class='spacing'></div>
      <p>
        Our service includes innovative design development. We can provide detail drawings to your required specifications and offer
        advice on appropriate materials for function. Where required our team of installation engineers will fit and test for you.
      </p>
      <div class='three spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" alt="" src="images/services.jpg" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p style="color: red;">{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our team" %}
      <div class='spacing'></div>
      <p>
        Our loyal and long serving team bring a wealth of built up knowledge and experience enabling us to offer an exceptionally high standard of work.
        We constantly invest in training, enabling us to provide you with a well specified, high quality product, delivered and installed on time and within budget.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for member in site.data.members %}
      <div class='large-4 medium-4 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% include our-customers.html %}
