---
layout: default
title: Policy Documents
section_id: policy
---

<div class='full parallax' style='background-image: url(images/@stock/about-us.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Policy Documents" color="#fff" tagline="Quality you can trust" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Quality Policy" %}
      <div class="spacing"></div>
      <p>
        Marcol’s Mission is to develop and expand its business in a controlled, efficient and profitable manner with the customer,
        as the primary focus for all their activities.
      </p>
      <p>
        Marcol intends to become the first-choice supplier in plastics fabrication through its commitment to supply quality,
        defect-free products and services first time, every time, on the due date and at realistic prices.
      </p>
      <p>
        The company ethos is if you have a problem, Marcol has the solution. With Marcol, you are in very good hands.
      </p>
      <p>
        The Quality Policy for Marcol Fabrications has now been realigned to reflect the changes within the new Standard ISO9001:2015
        and how these changes influence the business context and its strategic direction as well as embracing the requirements of both internal and external parties.
      </p>
      <p>
        It is incumbent on Marcol Fabrications to identify all interested parties that influences the business and its context.
        Marcol has set out to recognise and determine levels of Risk that could impact the business and affect those applicable interested parties.  
      </p>
      <p>
        Having identified the Risks to the business Marcol Fabrications set out to plan and implement actions to
        address those Risks by either reducing or eliminating those Risks!
      </p>
      <p>
        Business Objectives are set to encompass and address perceived issues that could adversely influence the business and also to fully support the achievement of the Quality Policy as well as the Quality Management System and to provide a platform for continual improvement. 
      </p>
      <p>
        Marcol continue to identify applicable legislation and strives to ensure compliance in all respects.
      </p>
      <p>
        The Business has established a full CSR (Corporate Social Responsibility and Sustainability Policy) that emphasises its commitment
        to its employees (internal interested parties) as well as it external interested parties.
      </p>
      <p>
        The business has established an active Internal Audit Program to monitor, measure and review the delivery and effectiveness of these plans.
      </p>
      <a href='{{site.url}}/images/international_standards/marcol_9001.pdf' target="_blank">
        Our ISO 9001 certification is available here.
      </a>
      <div class="three spacing"></div>
    </div>
  </div>
</div>

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Environmental Policy" %}
      <div class="spacing"></div>
      <p style="color: red">
        Velit deserunt qui laboris fugiat voluptate ex ea eiusmod eu irure esse ipsum officia tempor. Pariatur id ad Lorem excepteur tempor. Commodo occaecat id mollit aute laboris cupidatat reprehenderit qui. Ut exercitation tempor esse occaecat sint nostrud et ipsum amet id laboris. Eu mollit ad et fugiat id eu quis. Adipisicing cupidatat nisi id eu qui nostrud quis quis nisi labore excepteur.
      </p>
      <a href='{{site.url}}/images/international_standards/marcol_14001.pdf' target="_blank">
        Our ISO 14001 certification is available here.
      </a>
      <div class="three spacing"></div>
    </div>
  </div>
</div>
