---
layout: default
title: Services
section_id: services
services_left:
  - icon: trophy
    title: Scrubbing &amp; Filtration Systems
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: cogs
    title: Equipment Cabinets
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: pagelines
    title: Tanks
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: lock
    title: Plastic Ducting &amp; Pipework
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
services_right:
  - icon: trophy
    title: Wet Benches
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: trophy
    title: Machine Guards
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: trophy
    title: Drip Trays
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon: trophy
    title: Bespoke Fabrication
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
---

<div class='full' style='background-image: url(images/page_headers/services.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our services" tagline="Get to know what we do" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      {% for service in page.services_left %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services_right %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>

<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Materials" %}
      <div class="spacing"></div>
      <p>
        We are specialists in Polyprop Homo/Copolymer, PVC, PVDF, ABS HDPE, CPVC and Air line and can advise on the best and most suitable pipe system for your particular application.
        We specialise in installing all types of chemical resistant plastic pipe-work and can advise on current standards and legislation governing the distribution of hazardous substances.
        We can also manufacture non-standard pipe and fittings, if required.
        We use up-to-date welding technology to carry out all types of pipe welding, whether it is heat socket welded/butt fusion/infrared welding.
      </p>
      <p>
        We are able to offer solutions using COOL-FIT ABS Pre-insulated—a complete system solution for cooling applications.
        Further information about COOL-FIT ABS solutions will be available shortly. In the meantime, please do not hesitate to contact us for information or advice.
      </p>
      <p>
        We have a large number of suppliers from which large discounts can be obtained and passed onto you.
        Anything not in stock or off the shelf can easily be sourced and delivered anywhere in the country.
      </p>
      <div class="three spacing"></div>
    </div>
  </div>
</div>

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Design" %}
      <div class="spacing"></div>
      <p>
        We offer a full design service for outline schemes, detail drawings, and specification.
        This can include materials, manufacture, methods of installation and conformity to appropriate standards.
      </p>
      <p>
        We will work closely with you, providing continued feedback and improvements throughout the design stage of a project.
      </p>
      <p>
        Our trained and experienced engineers are on hand to visit you at your place of work or on site,
        whether it is a simple pipe installation or a detailed and complicated manufacturing project.
      </p>
      <div class="three spacing"></div>
    </div>
  </div>
</div>

<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Manufacture" %}
      <div class="spacing"></div>
      <p>
        We can work from drawings submitted by you for manufacture, or produce our own working drawings.
        With over 30 years of experience you can be sure that we provide a high level of quality and workmanship throughout the project.
        We monitor projects throughout the manufacturing process and conduct end-product quality reviews.
      </p>
      <p>
        More clients are looking to have their equipment skid mounted prior to being delivered to site,
        which reduces the on-site labour costs and keeps the pipe-work in a neat, tidy fashion.
        We can produce general arrangement drawings for approval from something as simple as a flow process diagram.
        Once approved, the skids are manufactured, valves installed, tagged and all pipe-work pressure tested, long before coming to site.
        We can produce a fully-welded construction guaranteeing a virtually indestructible join that will not rust or decay.
        The product is non-destructively tested before it leaves the workshop; test certification is available on request.
        Building equipment this way can offer savings of at least 80% of the on-site installation cost.
      </p>
      <div class="three spacing"></div>
    </div>
  </div>
</div>

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Installation" %}
      <div class="spacing"></div>
      <p>
        We have qualified and skilled engineers working at our factory and on site.
        Fully equipped installation teams will go where needed to install our fabricated assemblies.
        Adaptable and resourceful, they are equipped to travel through the UK and abroad.
        All our staff are fully qualified for the tasks undertaken and will be trained to comply with our method statements for site work.
        Any specific site requirements will be incorporated into documentation specifically issued by project.
      </p>
      <p>
        Health and safety is paramount to Marcol. We ensure that all our employees are fully trained in any equipment they use,
        where necessary sending them on external courses to obtain recognised qualifications. In addition, our fabricators/installers are holders of
        the EUSR National Water Hygiene Card—previously known as the “Blue Card”, the CITB Construction Skills Certification Scheme Operative Card and
        the ECITB Client/Contractor National Safety Group Safety Passport, many of them at supervisor level.
      </p>
      <div class="three spacing"></div>
    </div>
  </div>
</div>

<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Modifications, service and repairs" %}
      <div class="spacing"></div>
      <p>
        During a project you may need to make changes or improvements.
        Installations require routine maintenance to ensure continued operation and safety for the operator.
        Routine maintenance can highlight a number of potential hazards that should be addressed before a problem arises;
        damaged or broken components must be repaired or replaced.
      </p>
      <p>
        Marcol can respond immediately—usually within 24hrs—to get you up and running with minimal downtime.
        We can provide a visual inspection along with a written report.
      </p>
      <div class="three spacing"></div>
    </div>
  </div>
</div>
